body {
    font-family: monospace;
}

#main {
    width: 100%;
    height: 100%;
}

div.view {
    position: absolute;
    overflow: hidden;

    /*
    border-style: solid;
    border-width: 1px;
    border-color: black;
    */

    /*
    border-style: dashed;
    border-color: black;
    border-radius: 1px;
    */
}
