body {
    font-family: monospace;
    margin: 0;
}

#main {
    width: 100%;
    height: 100%;
}

div.view {
    position: absolute;
    overflow: hidden;

    /*
    border-style: solid;
    border-width: 1px;
    border-color: black;
    */

    /*
    border-style: dashed;
    border-color: black;
    border-radius: 1px;
    */
}

.component-view {
    background-color: gray;
}

.tlv-left {
    border-style: none solid none none;
    border-color: black;
    border-width: 1px;
}

.tlv-left .ui-resizable-e {
    width: 15px;
}

.tlv-top {
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
}

.tlv-top .ui-resizable-s {
    height: 15px;
}

.tlv-bottom {
    border-style: solid none none none;
    border-color: black;
    border-width: 1px;
}

.tlv-bottom .ui-resizable-n {
    height: 15px;
}

.tlv-right {
    border-style: none none none solid;
    border-color: black;
    border-width: 1px;
}

.tlv-right .ui-resizable-w {
    width: 15px;
}
